* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  /* убираем стили ссылкам */
}

body {

  font-family: Arial;
  font-size: 1vw;
}

.main_cont {
  min-height: 70%;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
}

nav div {
  padding: 0 50px;
}

img {
  width: 10vw;
  display: block;
}




.wrapper {
  width: 75vw;


  display: grid;
  grid-template-areas:
    /* матрица грид */
    "i i i i i i i i i i i i"
    "a a a a a a b b c c d d"
    "e e e e e e f f f g g g"
    "e e e e e e f f f g g g"
    "h h h k k k l l l m m m"
    "h h h k k k l l l m m m"
    "j j j j j j j j j j j j";
  width: 100%;
  height: 100%;
}


.wrapper section,
header,
footer {
  border: 1px rgb(0, 0, 0) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.A {
  grid-area: a;
  background-color: red;
}

.B {
  grid-area: b;
  background-color: orange;
}

.C {
  grid-area: c;
  background-color: yellow;
}

.D {
  grid-area: d;
  background-color: greenyellow;
}

.E {
  grid-area: e;
  background-color: rgb(109, 238, 255);
}

.F {
  grid-area: f;
  background-color: rgb(4, 0, 255);
}

.G {
  grid-area: g;
  background-color: rgb(204, 0, 255);
}

.H {
  grid-area: h;
  background-color: rgb(255, 0, 140);
}

.K {
  grid-area: k;
  background-color: rgb(0, 255, 162);
}

.L {
  grid-area: l;
  background-color: rgb(136, 0, 255);
}

.M {
  grid-area: m;
  background-color: rgb(214, 255, 110);
}

.header {
  grid-area: i;
}

.footer {
  grid-area: j;
}